body {
  background-color: #2c2f33;
  color: #ffffff;
}

a.navbar-brand {
  color: #7289da;
}

a {
  color: #7289da;
}

.navbar {
  background-color: #23272a;
}

.btn-primary {
  color: #ffffff;
  background-color: #7289da;
  border-color: #7289da;
}

.btn-secondary {
  color: #ffffff;
  background-color: #99aab5;
  border-color: #99aab5;
}

.btn-info {
  color: #ffffff;
  background-color: #43b581;
  border-color: #43b581;
}

.footer {
  color: #99aab5;
  background-color: #2c2f33;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #23272a;
}

.login-box {
  background-color: #2c2f33;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #ffffff;
}

.form-control {
  background-color: #23272a;
  border: 1px solid #7289da;
  color: #ffffff;
}

.form-group label {
  color: #99aab5;
}

.post-image {
  display: block; 
  margin-bottom: 10px; 
  margin-top: 10px; 
  max-width: 100%; 
  height: auto; 
}

