@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Blogs</h2>
            <p>No blogs yet</p>
        </div>
    
        <div class="col-md-4">
            <div class="d-flex flex-column align-items-end">
                <button class="btn btn-primary mb-2">New Blog</button>
                <button class="btn btn-secondary mb-2">Saved Blogs</button>
                <button class="btn btn-info mb-2">My Blogs</button>
            </div>
        </div>
    </div>
</div>

<style>
    .btn {
        width: 150px;
    }
</style>
